section p::first-letter       {
    font-size: 4rem;
}

aside p::first-line{
    font-size: 1.3rem;
    font-weight: bold
}

section div p::before{
    content: "Atención, importante: "
}

p:hover {
    color: brown
    }

a:visited {
        color: blue
    }
/*section p:nth-child(1) {
        color: aqua*/
 section p:nth-of-type (1) {
    
}

            
 }  

/*{
    display: inline
}
*/

body 
    font-family: ¨lato, sans-serif
header {
    font-family: rightedus, cursive;
}