
body {
    margin: 0%

}

header{
    width: 100%;
    background: #565454;
    color: # fff
    paddingtop-top: 1rem;
    padding-botton: 1rem;
}
header img{
    width: 100px;
    margin-left: 46%;
    margin-top: 1%;
    border-radius: 100%;
}

h1 {
    text-align: center;
    font-family"helvetica";
    font-size:1,5rem;
    text.align-left;
}

h2 {
    background-color: rgb(30, 212, 54);
    text-align: center;
    font-family"helvetica";
    font-size: 1,5rem;
   

}

section {
    width: 70%;
    margin: 0% auto 0 auto;
}

article{
    padding: 40px 0 20px 0;
    border-bottom: #888282 dotted 1px;
}

article h3 {
    background-color: rgb(30, 212, 54);
    font-size: 1rem;
    margin-left: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif
    line-height:
}   

article p, article ul {
    margin-left:  20%;
    font-family"helvetica";
    font-size: 1,5rem;
    color: #717c7c;
    margin-botton: 1,5rem;
}

article ul {
    margin-left: 20%;
    list-style: square;
}

article h4{
    background-color: rgb(30, 212, 54);
    font-size: 1rem;
    margin-left: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif
    line-height:
}

article h5{
    background-color: rgb(30, 212, 54);
    font-size: 1rem;
    margin-left: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif
    line-height:
}

footer{
    width: 100%;
    background: #565454;
    margin-top: 3rem;
    padding: 2rem;
    color: #ffffff;
    text-align: center;
    font-size: 1,5rem;
}





  

    

