img{
    width: fit-content;
    max-width: 100%
}
.image-wrapper-50{
    width: 50%;
    float: right;
    margin:-right:1rem;
}

.image-wrapper-25 {
        width: 25%;
}

.image-wrapper-75{
    width:75%;

}
.clearfix{
    border-top: 1px solid gainsboro
}
.fondos{
    height: 100vh;
    position: 
    ;
.fondos::after;    
    content:"";
    display: block;
    height:100%;
    widht: 100%;
    position: absolute;;
    top:0;
    background-color: aquamarine;
    background-image: url(../assets/komodo.300.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    opacity:0,4;
    /*hecho en clase el miercoles*/
    
}
.fondos h2{
    text-align: center;
    padding-top: 25vh;
    /*color: red*/
    color: black
    }