img{
    width: fit-content;
    max-width: 100%
}
.image-wrapper-50{
    width: 50%;
    float: right;
    margin:-right:1rem;
}

.image-wrapper-25 {
        width: 25%;
}

.image-wrapper-75{
    width:75%;
}