body{
    margin: 0;
    padding: 0%
    font-family: `work sans`,sans-scrif;
}
main-header{
    background-color: brown
    coral
    padding: 2 rem;
    front-family:´permanet market´,cursive;
}