<<<<<<< HEAD
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso Front</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <h1>Medidas ens CSS</h1>
    </header>
    <section>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit suscipit fugiat, minima nemo ipsum recusandae asperiores quisquam blanditiis ad saepe, animi nulla numquam. Accusantium officiis, alias quaerat quam voluptatem autem.</p>
        </div>
    </section>
</body>
</html>
=======
section {
    font-size: 0.8em;
    background-color: bisque;
    min-height: 80vh;
    /* overflow: auto; */
}

div {
    font-size: 0.8em
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    /* font-size: 16px; */
    padding: 2em;
}
.target:hover+.efecto  {
    /* text-indent: 2rem; */
    color: brown;
}
 /*
 vh
 vw

 */
>>>>>>> 337f7faaaec165b472b907d9598d332733489f4e
