
/*selector de descendientes:operador es el espacio*/
section p {
    color: brown
}

/*Selector de hijo: operador < */

section p {
    color: aquamarine
    }

/*Selector de hermanos adyacentes: utiliza como operador el signo +*/

div+p {
    color: aliceblue
}

    /* Selector de hermanos: operador ~ ( se saca cpm añt-gr 4 espacio, se lla virgulilla) */
div~p{
    color: aquamarine
}

