body {
    margin: 0;
    padding: 0;
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
}

.main-header {
    background-color: brown;
    color: bisque;
    padding: 2rem;
}

.main-header-h1 {
    margin: 0;
    padding: 0;
}

.main-header-p {
    margin-bottom: 0;
    margin-top: 0.2rem;
}
 .main-menu {}

 .main-menu ol {}
    list-style: none;
    margin: 0;
    padding: 0;

 .main-menu li {}
    display: inline-block;
menu a {
    color: aquamarine
    
}

.main-menu a {}  

body> header>nav

.content-wrapper {
    margin: 2rem;
}

.main-menu {
    border: 1px solid;
    border-radius: 5px;
}
.main-footer {
    background-color: brown;
    color: bisque;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}