section{
    display: flex;
}

a{
    display: block;
    padding: 1rem;
    border: 1px solid gainsboro;
    color: gainsboro;
    background-color: azure;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition-property: all;
    transition-duration: 3s;
    transition-delay: 1s;
}

a:hover {
    color: black;
    background-color: gray;
    font-size: 2rem;
    padding: 2rem;
}